body {
  font-family: 'Open Sans', 'Roboto', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0; }

.container {
  margin-top: 20px; }

#videoframes {
  margin: 0;
  padding: 0; }

.videoCard {
  margin-top: 30px; }

.videoCard iframe {
  height: auto;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0; }

.videoCard .timemovie {
  display: block;
  width: 100%;
  margin: 0;
  padding: 3px;
  font-weight: 400;
  background-color: rgba(68, 157, 68, 0.5);
  height-max: 50px; }

.btn, .form-control {
  -webkit-border-radius: 0;
  border-radius: 0; }
